body.dark {
  --md-sys-color-primary: rgb(190, 141, 239);
  --md-sys-color-surface-tint: rgb(219 185 249);
  --md-sys-color-on-primary: rgb(51 24 77);
  --md-sys-color-primary-container: rgb(163 132 192);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(231 215 240);
  --md-sys-color-on-secondary: rgb(43 34 52);
  --md-sys-color-secondary-container: rgb(153 140 163);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 208 221);
  --md-sys-color-on-tertiary: rgb(71 18 39);
  --md-sys-color-tertiary-container: rgb(198 123 147);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(21 18 24);
  --md-sys-color-on-background: rgb(232 224 232);
  --md-sys-color-surface: rgb(21 18 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(74 69 78);
  --md-sys-color-on-surface-variant: rgb(227 217 228);
  --md-sys-color-outline: rgb(183 175 186);
  --md-sys-color-outline-variant: rgb(149 142 152);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(232 224 232);
  --md-sys-color-inverse-on-surface: rgb(44 41 46);
  --md-sys-color-inverse-primary: rgb(87 60 114);
  --md-sys-color-primary-fixed: rgb(240 219 255);
  --md-sys-color-on-primary-fixed: rgb(29 1 55);
  --md-sys-color-primary-fixed-dim: rgb(219 185 249);
  --md-sys-color-on-primary-fixed-variant: rgb(68 42 95);
  --md-sys-color-secondary-fixed: rgb(237 221 246);
  --md-sys-color-on-secondary-fixed: rgb(22 13 31);
  --md-sys-color-secondary-fixed-dim: rgb(208 193 218);
  --md-sys-color-on-secondary-fixed-variant: rgb(60 50 69);
  --md-sys-color-tertiary-fixed: rgb(255 217 226);
  --md-sys-color-on-tertiary-fixed: rgb(43 0 19);
  --md-sys-color-tertiary-fixed-dim: rgb(255 176 200);
  --md-sys-color-on-tertiary-fixed-variant: rgb(91 34 56);
  --md-sys-color-surface-dim: rgb(21 18 24);
  --md-sys-color-surface-bright: rgb(71 67 73);
  --md-sys-color-surface-container-lowest: rgb(9 6 11);
  --md-sys-color-surface-container-low: rgb(32 28 34);
  --md-sys-color-surface-container: rgb(42 39 44);
  --md-sys-color-surface-container-high: rgb(53 49 55);
  --md-sys-color-surface-container-highest: rgb(64 60 66);
}
