.dark {
  --md-sys-color-primary: rgb(255 179 172);
  --md-sys-color-surface-tint: rgb(255 179 172);
  --md-sys-color-on-primary: rgb(201, 24, 38);
  --md-sys-color-primary-container: rgb(134 3 15);
  --md-sys-color-on-primary-container: rgb(255 139 130);
  --md-sys-color-secondary: rgb(255 179 172);
  --md-sys-color-on-secondary: rgb(90 26 24);
  --md-sys-color-secondary-container: rgb(122 50 46);
  --md-sys-color-on-secondary-container: rgb(255 158 150);
  --md-sys-color-tertiary: rgb(245 188 122);
  --md-sys-color-on-tertiary: rgb(71 42 0);
  --md-sys-color-tertiary-container: rgb(93 56 0);
  --md-sys-color-on-tertiary-container: rgb(216 162 98);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(29 16 15);
  --md-sys-color-on-background: rgb(247 221 218);
  --md-sys-color-surface: rgb(29 16 15);
  --md-sys-color-on-surface: rgb(247 221 218);
  --md-sys-color-surface-variant: rgb(89 65 62);
  --md-sys-color-on-surface-variant: rgb(225 190 187);
  --md-sys-color-outline: rgb(169 137 134);
  --md-sys-color-outline-variant: rgb(89 65 62);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(247 221 218);
  --md-sys-color-inverse-on-surface: rgb(60 45 43);
  --md-sys-color-inverse-primary: rgb(178 42 41);
  --md-sys-color-primary-fixed: rgb(255 218 214);
  --md-sys-color-on-primary-fixed: rgb(65 0 3);
  --md-sys-color-primary-fixed-dim: rgb(255 179 172);
  --md-sys-color-on-primary-fixed-variant: rgb(144 13 21);
  --md-sys-color-secondary-fixed: rgb(255 218 214);
  --md-sys-color-on-secondary-fixed: rgb(61 5 6);
  --md-sys-color-secondary-fixed-dim: rgb(255 179 172);
  --md-sys-color-on-secondary-fixed-variant: rgb(119 48 44);
  --md-sys-color-tertiary-fixed: rgb(255 221 185);
  --md-sys-color-on-tertiary-fixed: rgb(43 23 0);
  --md-sys-color-tertiary-fixed-dim: rgb(245 188 122);
  --md-sys-color-on-tertiary-fixed-variant: rgb(101 62 5);
  --md-sys-color-surface-dim: rgb(29 16 15);
  --md-sys-color-surface-bright: rgb(70 53 52);
  --md-sys-color-surface-container-lowest: rgb(23 11 10);
  --md-sys-color-surface-container-low: rgb(38 24 23);
  --md-sys-color-surface-container: rgb(42 28 27);
  --md-sys-color-surface-container-high: rgb(53 38 37);
  --md-sys-color-surface-container-highest: rgb(65 49 47);
  --md-extended-color-custom-color1-color: rgb(255 182 143);
  --md-extended-color-custom-color1-on-color: rgb(84 33 0);
  --md-extended-color-custom-color1-color-container: rgb(139 61 3);
  --md-extended-color-custom-color1-on-color-container: rgb(255 185 147);
  --md-extended-color-custom-color2-color: rgb(255 175 215);
  --md-extended-color-custom-color2-on-color: rgb(97 0 68);
  --md-extended-color-custom-color2-color-container: rgb(105 2 74);
  --md-extended-color-custom-color2-on-color-container: rgb(235 117 184);
  --md-extended-color-custom-color3-color: rgb(255 179 173);
  --md-extended-color-custom-color3-on-color: rgb(104 0 9);
  --md-extended-color-custom-color3-color-container: rgb(134 3 16);
  --md-extended-color-custom-color3-on-color-container: rgb(255 139 131);
}
