.light-medium-contrast {
  --md-sys-color-primary: rgb(68 42 95);
  --md-sys-color-surface-tint: rgb(110 82 138);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(126 97 154);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(60 50 69);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(117 104 126);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(91 34 56);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(157 88 111);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 247 254);
  --md-sys-color-on-background: rgb(30 26 32);
  --md-sys-color-surface: rgb(255 247 254);
  --md-sys-color-on-surface: rgb(19 16 21);
  --md-sys-color-surface-variant: rgb(233 223 235);
  --md-sys-color-on-surface-variant: rgb(57 52 61);
  --md-sys-color-outline: rgb(86 80 89);
  --md-sys-color-outline-variant: rgb(113 107 116);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(51 47 53);
  --md-sys-color-inverse-on-surface: rgb(246 238 246);
  --md-sys-color-inverse-primary: rgb(219 185 249);
  --md-sys-color-primary-fixed: rgb(126 97 154);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(100 73 128);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(117 104 126);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(92 80 101);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(157 88 111);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(128 64 87);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(203 196 204);
  --md-sys-color-surface-bright: rgb(255 247 254);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(249 241 249);
  --md-sys-color-surface-container: rgb(238 230 238);
  --md-sys-color-surface-container-high: rgb(226 218 226);
  --md-sys-color-surface-container-highest: rgb(215 207 215);
}
