body{
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    direction: rtl;
    font-family: 'Vazirmatn', sans-serif;
    
}

.form-container{
  background-color: var(--md-sys-color-on-background);
  color: var(--md-sys-color-surface);
  padding: 20px;
  width: 320px;
  border-radius: 14px;
  box-shadow: 0 0 10px black;
  text-align: center;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


input{
  width: 100%;
  border-radius: 3px;
  border: 1px solid var(--md-sys-color-background);
}

label{
  display: block;
}

button {
  background-color: var(--md-sys-color-on-primary);
  color: var(--md-sys-color-on-background);
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  width: 100%;
  margin-top: 20px;
}

a {
  color: var(--md-sys-color-on-primary);
  text-decoration: none;
}

footer {
  background-color: var(--md-sys-color-surface-container-high);
  color: var(--md-sys-color-on-surface);
  border-top: 1px solid var(--md-sys-color-outline-variant);
  border-radius: 10px;
}

