/* Import Vazir font */
@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css');
@import url('./light-hc.css');
@import url('./dark-mc.css');
@import url('components/components.css');

/* ========== */

:root{
  --md-sys-shape-corner-full: 12px;
}

/* ========== GLOBAL RESET ========== */
* {
  box-sizing: border-box;
  font-family: 'Vazir', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  line-height: 1.7;
  font-size: 1rem;
  text-align: center;
  direction: rtl;
}

/* ========== TYPOGRAPHY ========== */
h1, h2, h3, h4, h5, h6 {
  color: var(--md-sys-color-primary);
  font-weight: 700;
}

h3{
  margin-top: 35px;
}

p {
  margin-bottom: 1rem;
}

a {
  color: var(--md-sys-color-primary);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  box-shadow: 0 0 0 1px var(--md-sys-color-shadow); 
}

main {
  padding-top: 150px;
}
