.admin-nav {
  direction: rtl;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--md-sys-color-primary);
}

.admin-nav ul {
  margin: 0;
  padding: 0;
}

.admin-nav ul li {
  list-style-type: none;
  display: inline;
}

.admin-nav a {
  color: var(--md-sys-color-on-primary);
  text-decoration: none;
  margin: 0 1rem;
  font-weight: 500;
  transition: transform 0.3s, box-shadow 0.3s, color 0.3s;
}

.admin-nav a:hover {
  color: var(--md-sys-color-inverse-primary);
  transform: scale(1.1);
  box-shadow:
    0px 2px 4px rgba(var(--md-sys-color-shadow-rgb), 0.14),
    0px 4px 6px rgba(var(--md-sys-color-shadow-rgb), 0.12),
    0px 1px 3px rgba(var(--md-sys-color-shadow-rgb), 0.20);
}

