.card {
  background-color: var(--md-sys-color-surface-container-low);
  color: var(--md-sys-color-on-surface);
  border-radius: var(--md-sys-shape-corner-large-default-size); 
  padding: 2rem; 
  margin: 5px;
  margin-top: 0;
  box-shadow: 0 1px 1px var(--md-sys-color-shadow);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 550px; 
  text-align: center;
  display: inline-block;
}

.card-filled {
  background-color: var(--md-sys-color-surface-container-highest);
}

.card-outlined {
  background-color: var(--md-sys-color-surface);
  border: 1px solid var(--md-sys-color-outline);
}

.card-elevated {
  background-color: var(--md-sys-color-surface-container-low);

  box-shadow:
    0px 1px 2px color-mix(in srgb,
      var(--md-sys-color-shadow) 30%,
      transparent),
    0px 1px 3px color-mix(in srgb,
      var(--md-sys-color-shadow) 15%,
      transparent);
}