.card {
  background-color: var(--md-sys-color-surface-container-low);
  color: var(--md-sys-color-on-surface);
  border-radius: var(--md-sys-shape-corner-large-default-size);
  padding: 2rem;
  margin: 5px;
  box-shadow: 0 1px 1px var(--md-sys-color-shadow);
  transition: box-shadow 0.2s ease;
}

.card-filled {
  background-color: var(--md-sys-color-surface-container-highest);
}

.card-outlined {
  background-color: var(--md-sys-color-surface);
  border: 1px solid var(--md-sys-color-outline);
}

.card-elevated {
  background-color: var(--md-sys-color-surface-container-low);

  box-shadow:
    0px 1px 2px color-mix(in srgb,
      var(--md-sys-color-shadow) 30%,
      transparent),
    0px 1px 3px color-mix(in srgb,
      var(--md-sys-color-shadow) 15%,
      transparent);
}

.service-card {
  overflow: hidden;
}


/*  */

/* Hover */
.card:hover {
  box-shadow: 0 4px 6px var(--md-sys-color-shadow);
}

/* Focus (keyboard) */
.card:focus-visible {
  outline: 2px solid var(--md-sys-color-primary);
  outline-offset: 2px;
}

/* Pressed */
.card:active {
  box-shadow: 0 1px 2px var(--md-sys-color-shadow);
}