@import "button.css";
@import "card.css";
@import "servises.css";
@import "table.css";
@import "admin-navbar.css";
@import "shape.css";
@import "badge.css";
@import "checkbox-radio.css";
@import "form.css";
@import "switch.css";
@import "setting.css";
@import "rating.css";
@import "header.css";
@import "footer.css";
@import "hero.css";
@import "aboutUs.css";
@import "myTeam.css";