footer {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  padding: 2rem 3rem;
  border-top: 3px solid var(--md-sys-color-inverse-primary);
  border-radius: 0;
  height: 350px;
  margin-top: 55px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-logo {
  height: 50px;
  margin-bottom: 1rem;
  margin-top: 40px;
}

.footer-section h3 {
  color: var(--md-sys-color-inverse-primary);
  margin-bottom: 0.8rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: var(--md-sys-color-on-primary);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: var(--md-sys-color-inverse-primary);
}

.social-icons a {
  color: var(--md-sys-color-on-primary);
  margin-right: 10px;
  font-size: 1.3rem;
  transition: color 0.3s;
}

/* آیکون‌ها */
.social-icons {
  direction: ltr;
  margin-top: 1rem;
  display: flex;
  gap: 15px;
  justify-content: center; /* به چپ منظم می‌شوند */
}

.social-icons a {
  color: var(--md-sys-color-on-primary);
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  color: var(--md-sys-color-inverse-primary);
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  opacity: 0.8;
}