/*================= hero ===================*/

.hero {
    text-align: center;
    padding: 4rem 1rem;
    background-color: var(--md-sys-color-surface-container-high);
    border-radius: var(--md-sys-shape-corner-extra-large-default-size);
    margin-bottom: 3rem;
    box-shadow:
        0px 4px 8px rgba(var(--md-sys-color-shadow-rgb,0,0,0),0.12),
        0px 8px 12px rgba(var(--md-sys-color-shadow-rgb,0,0,0),0.08);
}

.hero h1 {
    font-size: 2.5rem;
    color: var(--md-sys-color-primary);
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    color: var(--md-sys-color-on-surface-variant);
    margin-bottom: 2rem;
}
